{% assign docs = site.chapters | sort: "order" %}
<nav class="sidebar">
  <div class="sidebar-brand">
    <span class="roundel">UK</span>
    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
  </div>
  <ul class="sidebar-nav">
    <li class="nav-item {% if page.url == '/' %}active{% endif %}">
      <a href="{{ '/' | relative_url }}">
        <span class="badge">起</span>
        <span>引言</span>
      </a>
    </li>
    {% for doc in docs %}
      <li class="nav-item {% if page.url == doc.url %}active{% endif %}">
        <a href="{{ doc.url | relative_url }}">
          <span class="badge">{{ doc.num }}</span>
          <span>{{ doc.nav }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
